    body {
        background-color: #FEFEFF;
        background-size: cover;
        font-family: 'Helvetica', sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000 ; 
        padding: 10px 20px;
        color: white;
      }

.navbar-logo img {
    height: 55px;
}

.menu-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu-links li {
    position: relative;
}

.menu-links li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-links li a:hover {
    background-color: #282c34;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

#searchInput {
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
    box-shadow:floralwhite ;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
    .ticket {
        background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        padding: 6px;
        margin: 8px;
        width: 80%;
        max-width: 600px; /* Limite la largeur maximale */
         margin-top: 90px; 
        /* margin-top: -100px; */
    }
    

    .compartment {
        margin-bottom: 10px;
    }

    .lab {
        font-weight: bold;
        display: block;
        padding: 2px;
    }

    .spa {
        display: block;
        margin-bottom: 5px;
    }

    input[type="date"] {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
    }


    footer {
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .recupere-button {
        background-color: #448eea; 
        border: none;
        color: white;
        padding: 10px 74px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    h3 {
        text-align: center;
        margin-top: 20px;
        color: #5d6a84;
    }