!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivre Votre Réparation</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../design/accueilClient.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../JavaScript/accueilClient.js" defer></script>

</head>
<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Suivre Votre Réparation</h3>

        <label for="username">Numero Suivi</label>
        <input type="text" id="numeroSuivi" name="numeroSuivi" placeholder="Numero Suivi" required>

        <label for="password">Nom</label>
        <input type="text" id="nom" name="nomIdentifiant" placeholder="Nom" required>

        <!-- <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required> -->

        <button>Connexion</button>
        <div class="social">
          <div> <a href="https://re-konekt.fr/" target="_blank" class="go"><i class="fab fa-google"></i>  Google
        </div> </a>
          <div> <a href="https://www.facebook.com/belhorma.tayeb33/?locale=fr_FR" target="_blank" class="fb">
            <i class="fab fa-facebook"></i>  Facebook
        </a></div>
         <div> <a href="https://www.instagram.com/re.konekt.officiel?igsh=NGt6MW1mN2s2Njdv" target="_blank" class="ig">
            <i class="fab fa-instagram"></i> Instagram
        </a></div>
        </div>
    </form>
</body>
</html>