<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Historique des Tickets Récupérés</title>
    <link rel="stylesheet" href="../design/historique.css">
    <script src="../JavaScript/historique.js" defer></script>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="navbar-logo">
                <a href="rekonektSuivi.html"><img src="../Image/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu-links">
                <li><a href="nouveauClient.html">Nouvelle prise en charge</a></li> 
                <li><a href="reparationsEnCours.html">Réparations en Cours</a></li>
                <li><a href="reparationsEnAttentes.html">Réparations en Attentes</a></li>
                <li><a href="reparationsTerminees.html">Réparations Terminées</a></li>
                <li><a href="historique.html">Historique</a></li>
            </ul>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Rechercher un client..."><span class="search-icon">&#128269;</span>
            </div>
        </nav>
    </header>
    <table id="historiqueTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Appareil</th>
                <th>N° Suivi</th>
                <th>Réparation</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les données seront insérées ici -->
        </tbody>
    </table>
    <footer>
        <p>&copy; 2024 Re-KonektSuivi</p>
    </footer>
</body>
</html>
