<!DOCTYPE html> 
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../design/rekonektSuivi.css">
    <link rel="stylesheet" href="../design/reparationEnCours.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../JavaScript/reparationsEnCours.js" defer></script>
</head>
<body>
    <header>
           <header>
        <div class="menu">
            <div class="navbar-logo">
                <a href="rekonektSuivi.html"><img src="../Image/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu-links">
                <li><a href="nouveauClient.html">Nouvelle Prise en client</a></li>      
                <li><a href="reparationsEnCours.html">Réparations en Cours</a></li>
                <li><a href="reparationsEnAttentes.html">Réparations en Attentes</a></li>
                <li><a href="reparationsTerminees.html">Réparations Terminées</a></li>
                <li><a href="historique.html">Historique</a></li>
            </ul>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Rechercher un client..."><span class="search-icon">&#128269;</span>
            </div>
        </div>
    </header> 
    </header>
  
    <!-- Conteneur pour les tickets en cours -->
    <div class="grid-container" id="enCoursTickets">
        <!-- Les tickets seront insérés ici par JavaScript -->
    </div>

    <footer>
        <p>&copy; 2024 Re-KonektSuivi</p>
    </footer>
    <div id="messageBox" class="message-box"></div>
    <script src="../JavaScript/rekonektSuivi.js"></script>
</body>
</html>

